.hero {
    background: black;
    color: white;
    text-align: center;
    padding: 50px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .hero h1 span {
    color: #8a2be2;
  }
  
  .hero p {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  